@page {
    size: A4;
    @top-center {
      /*background: #476efb;*/
      content: 'Metagenomics Report';
      font-size: large;
      font-weight: bolder;
      height: 2cm;
      opacity: .75;
      text-align: center;
      width: 10cm; }
    @top-right {
        content: "";
        width: 100%;
        height: 100%;
        background: url("GSTT_LOGO.jpeg") no-repeat;
        background-size: contain;
        background-position: right top;
    }
    @top-left {
        content: "";
        width: 100%;
        height: 100%;
        background: url("CIDR_logo.jpeg") no-repeat;
        background-size: contain;
        background-position: left top;
    }
    @bottom-right {
      content: counter(page);
      font-size: 10pt;
      height: 1cm;
      vertical-align: middle;
      width: 100%; }
    @bottom-left{
      content: "Not a validated test. For research purposes only";
      font-size: 10pt;
      height: 1cm;
      vertical-align: middle;
      opacity: .75;
      width: 100%; } }

html body div#date {
    visibility: hidden;
    font-size: 4pt;
    string-set: date content();
}
html body h4 {
  padding: 20px 0 20px 0;
}
html body h4.new-page{
  break-before: always;
}
html body h5 {
  padding: 10px 0 10px 0;
}
#amr-table{
    max-width: 2480px;
    width:100%;
}
#NC{
    outline: 1px solid #000000;
    height: 0.4cm;
    width: 0.4cm;
}