<html lang="en">
<head>
    <title>Metagenomics Report</title>
</head>
<body>
    <div id="date">{{report.date.strftime('%B %d, %Y')}}</div>
    <article id="report">
        <h4 id="report-title">Patient</h4>
        <section id = "Tester section">
            <table class="table table-hover">
                <thread>
                    <tr>
                        <th>Patient ID</th>
                        <td>123456</td>
                        <th>Time Interval</th>
                        <td>{{report.time}}</td>
                    </tr>
                </thread>
                <tbody>
                <tr>
                    <th>Time</th>
                    <td>{{report.date.strftime("%m/%d/%Y, %H:%M:%S")}}</td>
                    <th></th>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </section>
    </article>
    <article id="QC">
        <h4 id="QC-title">Quality Control</h4>
        <section id="QC-metrics">
            <table class="table table-hover">
                <tr>
                    <th scope="row">Number of reads</th>
                    <td>{{report.num_reads}}</td>
                    <th scope="row">Mean read length</th>
                    <td>{{report.mean_read_len}}</td>
                </tr>
                <tr>
                    <th scope="row">Total bases</th>
                    <td>{{report.total_bp}}</td>
                    <th scope="row">Mean read quality</th>
                    <td>{{report.mean_read_qual}}</td>
                </tr>

            </table>
        </section>
    </article>
    <article id="Centrifuge-top">
        <h4>Centrifuge Top Hits</h4>
        <section id="Centrifuge-table">
            {{report.cfg_top}}
        </section>
    </article>
    <article id="AMR">
        <h4>Antimicrobial resistance summary</h4>
        <section id="AMR-summary-table">
            {{report.amr_summary}}
        </section>
        <h4 class="new-page">Antimicrobial resistance report</h4>
        <section id="AMR-report">
            {{report.amr_report}}
        </section>
    </article>
    <article id="Centrifuge-full">
        <h4 class="new-page">Centrifuge Full</h4>
        <section id="Centrifuge-report">
            {{report.cfg_full}}
        </section>
    </article>
</body>